.edit-btn {
    border: 1px solid #7f7be6;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    color: #7f7be6;
}
.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-heading {
    font-size: 28px;
    text-align: left;
    color: #191b1a;
    font-weight: bold;
}
.popup-details-card {
    border-radius: 15px;
    width: 70vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: linear-gradient(#ffffff, #edf1ef);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inputs-card-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-card-edit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  margin-top: 15px;
}
.input-edit-cards-item {
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    border: 2px solid #c8ccd3;
    outline: none;
}
@media screen and (max-width: 768px) {
    .inputs-card-container {
      flex-direction: column;
    }
    .input-card-edit {
      width: 100%;
    }
}
.switches-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.switch-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.label-card {
    font-size: 17px;
    font-weight: bold;
    color: #3f3f42;
    margin: 12px;
}
.edit-cart-buttons-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-top: 15px;
}
.save-changes-btn {
    padding: 5px;
    border-radius: 5px;
    color: #74747a;
    background-color: #fafafd;
    margin: 10px;
    outline: none;
    border: none;
}
.close-btn {
    padding: 5px;
    border-radius: 5px;
    color: #666667;
    background-color: #d9d9e1;
    margin: 10px;
    outline: none;
    border: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #070535;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #070535;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

