.ECM-home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(#666565, #010111);
}
.ECM-Data-container {
    border: 2px solid #5f5f64;
    background-image: linear-gradient(#666565, #ffffff); 
    /* cdcdd3  9a9595 */
    width: 80%;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}
.br-line {
    border: 1px solid #6e6e6e;
    width: 100%;
    margin-bottom: 20px;
}
.ECM-Heading {
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
}
.ECM-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ECM-input-card-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.ECM-label {
    font-size: 17px;
    font-weight: bold;
    color: #140101;
}
.ECM-input {
    width: 80%;
    padding: 5px;
    color: #010111;
    background-color: transparent;
    border: 1px solid #140101;
    height: 25px;
    border-radius: 5px;
}
.ECM-btns-card {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ECM-buttons-conatiner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
}
.ECM-back-btn {
    background-color: #355f9d;
    color: #ffffff;
    border-radius: 3px;
    height: 32px;
    width: 45%;
}
.ECM-create-btn {
    background-color: #59b141;
    color: #ffffff;
    border-radius: 3px;
    height: 32px;
    width: 45%;
}
.ECM-Select-input {
    width: 81%;
    padding: 5px;
    color: #010111;
    background-color: transparent;
    border: 1px solid #140101;
    height: 38px;
    border-radius: 5px;
}